nav a:hover {
    color: #FD752D;
    transition: color 0.3s ease;
}
.whatsapp-logo{
    transform: scale(0.9);
}
.menuBtn {
    transform: scale(1.3);
    margin-right: 30px;
}
.menuBtn:hover {
    color: #FD752D;
    transition: color 0.3s ease;
    cursor: pointer;
}

.close-menu-btn {
    transform: scale(1.2);
}
.close-menu-btn:hover {
    color: #FD752D;
    transition: color 0.3s ease;
    cursor: pointer;
}

@media screen and ( width >= 831px) {
    #sm-nav {
        display: none;
    }
    .menuBtn {
        display: none;
    }
}
@media screen and ( width <= 830px) {
    .lg-link {
        display: none;
    }
    #sm-nav {
        height: 100%;
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #FFC6B6;
        position: fixed;
        z-index: 10;
        right: -100%;
        transition: right 0.5s ease-in-out;
        padding: 5px 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }
    #sm-nav .menu-content-sm {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .tangerine-logo{
        margin-bottom: 100px;
    }
    .menu-header-sm {
        align-self: flex-end;
    }
    .menu-content-sm div:hover {
        background-color: rgba(255, 255, 255, 0.4);
        border-radius: 8px;
        cursor: pointer;
        color: #FD752D;
        transition: color 0.3s ease;
        transition: background-color 0.3s ease;
    }
}

@media screen and ( width <= 660px) {
    #sm-nav {
        width: 60%;
    }
}

@media screen and ( width <= 460px) {
    #sm-nav {
        width: 100%;
    }
}